<h4> {{title}} <h4>
<form method="POST" class="form-horizontal">
    <input type="hidden" name="_csrf"/>
    <input type="email" name="email" id="email" placeholder="Email" autofocus="autofocus" required="required" class="form-control"/>
    <input type="password" name="password" id="password" placeholder="Password" required="required" class="form-control"/>
    <button type="submit" class="col-sm-3 btn btn-primary"><i class="fa fa-user"></i>Login</button>
    <!-- <a href="/forgot" class="btn btn-link">Forgot your password?</a> -->
</form>
